@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">

        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">

            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>Dashboard</span></a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i> <span>Notariado</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/MainOtorgantes/Index/">Otorgantes</a></li>
                    <li><a href="~/MainAfavorde/Index/">A favor de</a></li>
                    <li><a href="~/MainLibros/Index/">Libros</a></li>
                    <li><a href="#">Medios de Contacto</a></li>
                </ul>
            </li>
             <li class="treeview">
                <a href="#">
                    <i class="fa fa-child"></i> <span>Adminisiones</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Captura de Datos</a></li>
                    <li><a href="#">Visitita Informativa</a></li>
                     <li><a href="#">Ficha Familiar</a></li>
                </ul>
            </li>
       <li class="treeview">
                <a href="#">
                    <i class="fa fa-gear"></i> <span>Configuración</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Usuarios</a></li>
                    <li><a href="#">Accesos</a></li>
                     
                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>